div.panel {
	background-color: #FFFFBB;
	border: 1px solid #555;
	color: #000;
}

.panel a {
	color: #00F;
}

.panel .topbar {
	border-bottom: 1px solid #555;
	
}

.panel .container {
	padding: 3px;
}

.panel .title {
	float: left; 
	font-weight: bold;
}

.panel .close {
	text-align: right;
}

.panel .heading {
	font-weight: bold;
}

.panel .tag_area {
	margin-bottom: 10px;
}

.panel form {
	margin-bottom: 10px;
}

.panel .loading {
	font-size: small;
	color: red;
	text-align: center;
}